@media screen and (max-width: 800px) {
    .title-block {
        margin-bottom: var(--title-block-margin-bottom-mobile);
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        max-height: var(--arrow-max-height-sm);
    }
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {

    body,
    .title-block {
        width: 65vw;
    }

    h2 {
        font-size: var(--h2-sizing-xlg)
    }

    p {
        font-size: var(--paragraph-size-xlg)
    }
}

@media screen and (min-width: 1440px) {

    body,
    .title-block {
        width: var(--content-width-desktop);
    }
}