@media screen and (max-width: 800px) {
    .portfolio-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        max-height: var(--arrow-max-height-sm);
    }

}

@media screen and (max-width: 320px) {

    .portfolio-item> :first-child,
    .portfolio-item> :nth-child(2) {
        flex: unset;

    }
}

@media screen and (min-width: 1440px) {

    body,
    .title-block {
        width: var(--content-width-desktop);
    }

    .card>.icon-with-label {
        margin: var(--margin-xlg)
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: var(--h2-sizing-xlg)
    }

    p {
        font-size: var(--paragraph-size-xlg)
    }
}

@media screen and (min-width: 800px) {
    .portfolio-item {
        width: 50%;
        padding: 1em;
    }

    .portfolio-item> :nth-child(2) {
        width: 40%;
    }

    .portfolio-item .icon-row {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}