@media screen and (max-width: 800px) {
    .title-block {
        margin-bottom: var(--title-block-margin-bottom-mobile);
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        max-height: var(--arrow-max-height-sm);
    }
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {

    body,
    .title-block {
        width: 65vw;
    }

    h2 {
        font-size: var(--h2-sizing-xlg)
    }

    p {
        font-size: var(--paragraph-size-xlg)
    }
}

@media screen and (min-width: 1440px) {

    body,
    .title-block {
        width: var(--content-width-desktop);
    }
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    .title-block {
        margin-bottom: var(--margin-sm);
    }

    .title-block>* {
        margin-bottom: var(--margin-sm);
    }

    .arrow {
        max-height: var(--arrow-max-height-sm);
    }

    .resume-container {
        gap: var(--gap-sm);
        padding: 0 var(--padding-sm);
    }

    .resume-intro p {
        font-size: 0.85rem;
        line-height: 1.4;
    }

    .resume-grid {
        gap: var(--gap-sm);
    }

    .resume-block {
        padding: var(--padding-sm);
    }

    .resume-block h3 {
        font-size: 0.7rem;
        margin-bottom: var(--margin-xs);
    }

    .skill-pills {
        gap: 0.25rem;
    }

    .skill-pills span {
        font-size: 0.6rem;
        padding: 0.2rem 0.4rem;
    }

    .resume-highlights {
        gap: var(--gap-lg);
        margin-top: var(--margin-xs);
    }

    .highlight-number {
        font-size: 1.25rem;
    }

    .highlight-label {
        font-size: 0.6rem;
    }

    h2,
    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}