@media screen and (max-width: 800px) {
    .title-block {
        margin-bottom: var(--title-block-margin-bottom-mobile);
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        max-height: var(--arrow-max-height-sm);
    }
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {

    body,
    .title-block {
        width: 65vw;
    }

    h2 {
        font-size: var(--h2-sizing-xlg)
    }

    p {
        font-size: var(--paragraph-size-xlg)
    }
}

@media screen and (min-width: 1440px) {

    body,
    .title-block {
        width: var(--content-width-desktop);
    }
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    .svg-heading {
        max-height: 50px;
    }

    .svg-heading text {
        font-size: 5em;
    }

    .title-block {
        margin-bottom: var(--margin-xs);
    }

    .title-block>* {
        margin-bottom: var(--margin-xs);
    }

    .arrow {
        max-height: 2.5vh;
    }

    .resume-container {
        gap: 0.25rem;
        padding: 0;
        width: 95%;
    }

    .resume-intro {
        margin-top: 0;
    }

    .resume-intro p {
        font-size: 0.75rem;
        line-height: 1.3;
        margin: 0;
    }

    .resume-grid {
        gap: 0.25rem;
    }

    .resume-block {
        padding: 0.4rem;
    }

    .resume-block h3 {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        letter-spacing: 1px;
    }

    .skill-pills {
        gap: 0.2rem;
    }

    .skill-pills span {
        font-size: 0.55rem;
        padding: 0.15rem 0.35rem;
    }

    .resume-highlights {
        gap: var(--gap-md);
        margin-top: 0;
    }

    .highlight-number {
        font-size: 1rem;
    }

    .highlight-label {
        font-size: 0.5rem;
    }

    h2,
    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}