.svg-heading rect {
    stroke: white;
    fill: transparent;
    stroke-width: 2.5%;
    stroke-dasharray: 2500;
    stroke-dashoffset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: stroke-dashoffset 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-heading text {
    stroke: white;
    fill: white;
    stroke-width: 1px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 8.5em;
    text-anchor: middle;
    dominant-baseline: middle;
}