.user {
    content: url('../svg/user.svg');
}

.nodejs {
    content: url('../svg/nodejs.svg');
}

.react {
    content: url('../svg/react.svg');
}

.javascript {
    content: url('../svg/javascript.svg');
}

.typescript {
    content: url('../svg/typescript.svg');
}

.graphql {
    content: url('../svg/graphql.svg');
}

.mysql {
    content: url('../svg/mysql.svg');
}

.mongodb {
    content: url('../svg/mongodb.svg');
}

.sr-screenshot-1 {
    content: url('../img/screenshots/sr-tracker/sr-tracker-screenshot-2.png');
}

.sr-screenshot-2 {
    content: url('../img/screenshots/sr-tracker/sr-tracker-screenshot-3.png');
}

.sr-screenshot-3 {
    content: url('../img/screenshots/sr-tracker/sr-tracker-screenshot-4.png');
}

.svg-heading rect {
    stroke: white;
    fill: transparent;
    stroke-width: 2.5%;
    stroke-dasharray: 2500;
    stroke-dashoffset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 2s;
}

.svg-heading text {
    stroke: white;
    fill: white;
    stroke-width: 1px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 8.5em;
    width: 100%;
    height: 100%;
}