.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--title-block-margin-bottom-desktop);
    text-align: center;
}

.title-block>* {
    margin-bottom: var(--margin-lg);
}

section:not(.section__1)>.title-block {
    margin-top: var(--margin-sm);
}