/* global */

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--title-block-margin-bottom-desktop);
    text-align: center;
}

.title-block>* {
    margin-bottom: var(--margin-sm);
}

section:not(.section__1)>.title-block {
    margin-top: var(--margin-sm);
}

/* end global */

/* section One styles */

/* end section One styles */

/*  section Two styles */

/* end section Two styles */

/* section Three styles */

/* section.section__3>.content>.card>div:first-of-type {
    height: 100%;
}

section.section__3>.content>.card>div:first-of-type> *:not(:first-child) {
    margin-top: var(--margin-sm);
} */

/* end section Three styles */

/*  section Four styles */

/* end section Four styles */