@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --section-1-bg-color: rgb(32, 65, 142);
    --section-2-bg-color: rgb(39, 41, 50);
    --section-3-bg-color: rgb(245, 143, 41);
    --section-4-bg-color: rgb(130, 132, 137);
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color 700ms linear;
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
}

h1 {
    position: relative;
    font-family: Montserrat;
    text-transform: uppercase;
    color: white;
    font-size: 6.5em;
}

.section {
    width: 100vw;
    height: 100vh;
}

.section__1 {
    background-color: var(--section-1-bg-color);
    height: 100vh;
}

.section__2 {
    background-color: var(--section-2-bg-color);
    height: 100vh;
}

.section__3 {
    background-color: var(--section-3-bg-color);
    height: 100vh;
}

.section__4 {
    background-color: var(--section-4-bg-color);
    height: 100vh;
}