@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --section-1-bg-color: rgb(32, 65, 142);
    --section-2-bg-color: rgb(39, 41, 50);
    --section-3-bg-color: rgb(245, 143, 41);
    --section-4-bg-color: rgb(130, 132, 137);
}

body {
    font-family: "Lato", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;
    text-transform: uppercase;
    color: white;
}

h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 2.5em;
}

.section {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    /* border: 2px dotted black; */
}

section > .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}