@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
    --arrow-max-height-sm: 5vh;
    --arrow-max-height-lg: 7vh;
    --content-width-desktop: 50vw;
    --content-width-mobile: 85vw;
    --default-font-size: 16px;
    --default-font-family: "Lato", sans-serif;
    --default-font-color: white;
    --heading-font-family: Montserrat;
    --h2-sizing: 1.1em;
    --h2-sizing-xlg: 2em;
    --h3-sizing: .9em;
    --h4-sizing: .7em;
    --margin-xs: .25em;
    --margin-sm: .5em;
    --margin-md: .75em;
    --margin-lg: 1em;
    --margin-xlg: 1.5em;
    --paragraph-size: .9em;
    --paragraph-size-xlg: 1.4em;
    --padding-xs: .25em;
    --padding-sm: .5em;
    --padding-md: .75em;
    --padding-lg: 1em;
    --padding-xlg: 1.25em;
    --title-block-margin-bottom-mobile: 5vh;
    --title-block-margin-bottom: 5vh;
}